{% load static %}
<html>
<head>
<title>Django Girls blog</title>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="{% static 'css/blog.css' %}">
<link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
</head>
<body>
<div class="page-header">
<h1><a href="/">Django Girls Blog</a></h1>
</div>
<div>
<p>Published : 08.04.2020</p>
<h2><a href="">My first post</a></h2>
<p>My Name is S.Abhishek. I am an Under Graduate Student in Amrita Vishwa Vidyapeetham with Specialization with Computer Science.</p>
</div>
<div>
<p>Published : 08.04.2020</p>
<h2><a href="">My second post</a></h2>
<p>I am in S2 CSE-B. Now I am creating this post due to free time in Corona Quarantine Days.</p>
<div class="content container">
<div class="row">
<div class="col-md-8">
{% for post in posts %}
<div class="post">
<div class="date">
<p>published: {{ post.published_date }}</p>
</div>
<h2><a href="">{{ post.title }}</a></h2>
<p>{{ post.text|linebreaksbr }}</p>
</div>
{% endfor %}
</div>
</div>
</div>
</div>
</body>
</html>
