<html>
<head>
<title>Django Girls blog</title>
</head>
<body>
<div>
<h1><a href="/">Django Girls Blog</a></h1>
</div>
<div>
<p>Published : 08.04.2020</p>
<h2><a href="">My first post</a></h2>
<p>My Name is S.Abhishek. I am an Under Graduate Student in Amrita Vishwa Vidyapeetham with Specialization with Computer Science.</p>
</div>
<div>
<p>Published : 08.04.2020</p>
<h2><a href="">My second post</a></h2>
<p>I am in S2 CSE-B. Now I am creating this post due to free time in Corona Quarantine Days.</p>
</div>
</body>
</html>
